
<tr>
			 <td align="left">Scanner</td>
			#set($currentScanner=$item.getProperty("scanner"))
								#set($scanners = $data.getSession().getAttribute("user").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_imageSessionData isd LEFT JOIN xnat_experimentData expt ON isd.id=expt.id LEFT JOIN xdat_meta_element xme ON expt.extension=xme.xdat_meta_element_id LEFT JOIN xnat_imageScanData scan ON isd.id=scan.image_session_id WHERE xme.element_name='xnat:petSessionData' AND scan.scanner='$currentScanner'"))

						#if($scanners.size()==0)
						  #if($project)
						    #set($scanners = $data.getSession().getAttribute("user").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_petSessionData mr LEFT JOIN xnat_imageSessionData isd ON mr.id=isd.id LEFT JOIN xnat_experimentData expt ON isd.id=expt.id WHERE expt.project='$project'"))
						    						#if($scanners.size()==0)
						       #set($scanners = $data.getSession().getAttribute("user").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_petSessionData mr LEFT JOIN xnat_imageSessionData isd ON mr.id=isd.id"))						
						    						#end
						  #else
						    #set($scanners = $data.getSession().getAttribute("user").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_petSessionData mr LEFT JOIN xnat_imageSessionData isd ON mr.id=isd.id"))
						  #end
						#end

						#if($scanners.size()==0)
					 			 <td> #xdatTextBox("xnat:petSessionData.scanner" $item "" $vr)</td>
				#else
				 <td>
				 <script type="text/javascript">
				  window.ss=new Object();
				  #if($project)
				  window.ss.uri=serverRoot +"/REST/scanners?format=json&table=xnat_petSessionData";
				  #end
				  window.ss.local_values=new Array();
				  window.ss.valueField="scanner";
				  				#foreach ($pValue in $scanners)
				  				 #if($pValue.get(0))		   window.ss.local_values.push({"scanner":"$pValue.get(0)"}); #end
				  #end
				 </script>
					  #xdatComboBox("xnat:petSessionData.scanner" $item "window.ss" $vr)
					  <a onclick="alert('If the required value is not in the list, select MORE to show additional options or CUSTOM to add your own value.');"><img border="0" src="$content.getURI("images/qm.gif")"/></a>
					  #if($item.getStringProperty("xnat:petSessionData/scanner/manufacturer") || $item.getStringProperty("${datatype}/scanner/model")					 || $!item.getStringProperty("${datatype}/scanner"))
&nbsp;($!item.getStringProperty("xnat:petSessionData/scanner/manufacturer") 					 $!item.getStringProperty("${datatype}/scanner/model")					 $!item.getStringProperty("${datatype}/scanner"))			
  #end
			 </td>
				#end
		</tr>	
					
		<tr>
			<td>Acquisition Site</td>
			<td>
			 #xdatTextBox("xnat:petSessionData.acquisition_site" $item "" $vr)
			</td>
		</tr>

		<tr name="additional_fields" >
			 <td>Operator</td>
			 <td>
		  	#if ($vr)
	    		#if($vr.getField("${datatype}.operator"))
		      	<font color="red">&#8658</font>
	    		#end
  			#end
	  		#if ($item.getProperty("${datatype}.operator"))
	  			<input type="text" name="${datatype}.operator"
	    	  #if ($item.getProperty("${datatype}.operator")=="null")
		      	value=""
		      #else
		      	value="$item.getProperty("${datatype}.operator")"
		      #end
		      />
	  		#else
	    		<input type="text" name="${datatype}.operator" value=""/>
	  		#end
		  </td>
		  <td></td> <!-- no hints available -->
		</tr>
		
		<tr id="tracer">
<td>Tracer</td>
					  <td>
					#set($tracers = $data.getSession().getAttribute("user").getQueryResultsAsArrayList("SELECT DISTINCT tracer_name,tracer_name  FROM xnat_petSessionData WHERE tracer_name IS NOT NULL"))
#if($tracers.size()==0)
#xdatTextBox("xnat:petSessionData.tracer.name" $item "" $vr)
			#else
<script type="text/javascript">
				window.tracer=new Object();
				window.tracer.local_values=new Array();
				window.tracer.valueField="tracer";
				#foreach ($pValue in $tracers)
					#if($pValue.get(0))		   window.tracer.local_values.push({"tracer":"$pValue.get(0)"}); #end
				#end
				</script>
				 #xdatComboBox("xnat:petSessionData.tracer.name" $item "window.tracer" $vr)
				<script>
					var tracerSelectBox = document.getElementById("xnat:petSessionData.tracer.name");
					
					var existingOnChange = tracerSelectBox.onchange;
					  
					var toggleGlucose = function(event) {	
						if (tracerSelectBox.options[tracerSelectBox.selectedIndex].value == 'FDG') {
    						document.getElementById('glucoseLevel').style.display = '';
							document.getElementById('glucoseCollectionTime').style.display = '';
    					}
    					else {
    						document.getElementById('glucoseLevel').style.display = 'none';
							document.getElementById('glucoseCollectionTime').style.display = 'none';
    					}
					}
					
    				document.getElementById("xnat:petSessionData.tracer.name").onchange = function(event) {
						existingOnChange.call(tracerSelectBox, event);
						toggleGlucose.call(tracerSelectBox, event);
					}
				</script>
					  
					  <a onclick="alert('If the required value is not in the list, select CUSTOM to add your own value.');"><img border="0" src="$content.getURI("images/qm.gif")"/></a>
			#end
  </td>
					</tr>
					
					#if ($item.getProperty('xnat:petSessionData.tracer.name') == 'FDG')
						#set($showGlucose = true)
					#else
						#set($showGlucose = false)
					#end
					
					<tr id="glucoseLevel" #if (!$showGlucose) style="display:none;" #end>
						<td>Blood Glucose Level</td>
						<td>
							#xdatTextBox("xnat:petSessionData/blood_glucose" $item "" $vr)&nbsp;
							<select name="xnat:petSessionData/blood_glucose_units">
					      	  <option value="">(SELECT)</option>
					      	  <option value="mg/dL" #if($item.getProperty("xnat:petSessionData/blood_glucose_units")=="mg/dL")SELECTED#end>mg/dL</option>
					      	  <option value="mmol/L" #if($item.getProperty("xnat:petSessionData/blood_glucose_units")=="mmol/L")SELECTED#end>mmol/L</option>
							</select>
						</td>
					</tr>
					
					<tr id="glucoseCollectionTime" #if (!$showGlucose) style="display:none;" #end>
						<td>Blood Glucose Collection Time</td>
						<td>#xdatTimeBox("xnat:petSessionData/blood_glucose_time" $item $vr)</td>
					</tr>
<TR>
					  <td>Transmissions</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.transmissions" $item "" $vr)</td>
					</tr>								   
<TR>
					 <td>Tracer Dosage</td>
					 <td align="left" NOWRAP>
						  <TABLE>
						    <TR>
						      <TD align="left" style="padding-left:0px;">#xdatTextBox("xnat:petSessionData.tracer.dose" $item "" $vr)</TD>
						      <TD><select name="xnat:petSessionData.tracer.dose.units">
						      	  <option value="">(SELECT)</option>
						      	  <option value="mCi" #if($item.getProperty("xnat:petSessionData.tracer.dose.units")=="mCi")SELECTED#end>mCi</option>
						      	  <option value="ug" #if($item.getProperty("xnat:petSessionData.tracer.dose.units")=="ug")SELECTED#end>ug</option>
						      </select></TD>
						    </TR>
						  </TABLE>
						 </td>
										</tr>
										
																		<TR>
					<td>Time of Injection</td>
					  <td>#xdatTimeBox("xnat:petSessionData/start_time_injection" $item $vr)</td>
					</tr>								     
										
																		<tr>
					<td>Emission Scan Start-time</td>
					  <td>#xdatTimeBox("xnat:petSessionData/start_time_scan" $item $vr)</td>
					</tr>								      
													