<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/validators.js')"></SCRIPT>

#if($!item.getProperty("id"))
    <tr>
      <th align="left">Session</th>
      <td>$!item.getProperty("label")</td>
      <td id="label_opts"></td>
    </tr>
#else
	#set($newLabel = $!item.getProperty("label"))
	
	#if($!project || $!item.getProperty("project"))
		#if($part)
			#set($elType = $!item.getXSIType())
			#set($autoPopulate = "true")
			
        	#if($elType == "condr:clinicalEncounter")
        		#set($typeAbbrev = "CLIN")
        	#elseif($elType == "condr:condrMedicalHistory")
        		#set($typeAbbrev = "HIST")
                #set($noDate = "true")
        	#elseif($elType == "sf:enrollmentStatus")
        		#set($typeAbbrev = "ENROLL")
				#set($noDate = "true")
			#elseif($elType == "tx:chemotherapyTreatment")
        		#set($typeAbbrev = "CHEMO")
			#elseif($elType == "tx:radiationTreatment")
        		#set($typeAbbrev = "RADTX")
        	#else
        		#set($autoPopulate = "false")
			#end
			
			#if($autoPopulate == "true")
				#if($noDate != "true" || !$noDate )
					#set($datel = "_$om.getFreeFormDate('yyMMdd')")
				#end
			
				#set($newLabel = "$part.getLabel()_$!typeAbbrev$!datel")
			#end
    	#end
	#end

<tr>
  <th align="left">Session</th>
  <td><input type="text" id="$!item.getXSIType()/label" name="$!item.getXSIType()/label" value="$newLabel"  onkeyup="this.value=fixSessionID(this.value);verifyExptId(this);if(this.validated==false)confirmValues(false);" onblur="confirmValues(false);"/></td>
  <td id="label_opts"></td>
  <td id="label_msg"></td>
</tr>

<script type="text/javascript">

YAHOO.util.Event.onDOMReady(function(){
	addConfirmTextToSubmit("$!item.getXSIType()/label", confirmSessionLabel, [false, "$!item.getXSIType()/label"], "Required field.");
})

</script>
#end
