##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<HTML>
<HEAD>
<TITLE>$!systemName</TITLE>
#includeJSFile()
<!--CSS file (default YUI Sam Skin) -->
<link type="text/css" rel="stylesheet" href="$content.getURI("scripts/yui/build/logger/assets/skins/sam/logger.css")">
<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/yui/build/fonts/fonts-min.css")">
<link type="text/css" rel="stylesheet" href="$content.getURI("style/xdat.css")"></link>
<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/yui/build/treeview/assets/css/folders/tree.css")"> 
 
<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/yui/build/button/assets/skins/sam/button.css")">
 
<script src="$content.getURI("scripts/yui/build/yahoo/yahoo.js")"></script>
 
<script src="$content.getURI("scripts/yui/build/event/event.js")"></script>
 
<script src="$content.getURI("scripts/yui/build/connection/connection.js")"></script>
 

<script src="$content.getURI("scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js")"></script>
<script src="$content.getURI("scripts/yui/build/treeview/treeview.js")"></script>
 
 <script src="$content.getURI("scripts/yui/build/json/json-min.js")"></script>

<!-- Source file -->
<script src="$content.getURI("scripts/yui/build/logger/logger.js")"></script>

<script src="$content.getURI("scripts/yui/build/container/container-min.js")"></script>
<script src="$content.getURI("scripts/yui/build/element/element-min.js")"></script>

<script src="$content.getURI("scripts/yui/build/button/button-min.js")"></script>

 
<!-- LOGIN -->
</HEAD>
<BODY class="yui-skin-sam"> 




</BR>

<table width="100%" height="100%" valign="top" border=0>
  <tr>
    <td align="left" valign="top">
      $screen_placeholder
    </td>
  </tr>
</table>





</BODY>
</HTML>
