#set($scanCounter=900)
#set($regRegionAnalysiss = $mr.getAssessors("fs:asegRegionAnalysis"))
#if ($regRegionAnalysiss.size()>0)

#set($ASEGRegionAnalysis = $regRegionAnalysiss.get(0))

#if($ASEGRegionAnalysis)
<tr>
<td align=left colspan=2 valign=top>
<A name="LINK${scanCounter}" HREF="#LINK${scanCounter}" onClick=" return blocking($scanCounter);"><img ID="IMG$scanCounter" src="$content.getURI("images/plus.jpg")" border=0> Freesurfer Subcortical Segmentation</a>

	<span ID="span$!scanCounter" style="position:relative; display:none;">
			<br>
				<table>
	 <tr><td width="100">Brain Mask NVox:</td><td>$!turbineUtils.formatNumber($!ASEGRegionAnalysis.getBrainmasknvox(),0)</td></tr>
	 <tr><td width="100">Brain Mask Vol:</td><td>$!turbineUtils.formatNumber($!ASEGRegionAnalysis.getBrainmaskvol(),0)</td></tr>
	 <tr><td width="100">Brain Seg NVox:</td><td>$!turbineUtils.formatNumber($!ASEGRegionAnalysis.getBrainsegnvox(),0)</td></tr>
	 <tr><td width="100">Brain Seg Vol:</td><td>$!turbineUtils.formatNumber($!ASEGRegionAnalysis.getBrainsegvol(),0)</td></tr>
	 <tr><td width="100">ICV:</td><td>$!turbineUtils.formatNumber($!ASEGRegionAnalysis.getIcv(),0)</td></tr>
	 <tr><td colspan="2" NOWRAP>&nbsp;</td></tr>
	 <tr><td colspan="2">
	<table>
	 <tr>
	  <th>Region</th>
	  <th>Volume</th>
	  <th>Mean</th>
	  <th>Range</th>
	 </tr>
	 #foreach($region in $ASEGRegionAnalysis.getRegions_region())
	  <tr>
	   <td>$!region.getName()</td>
	   <td>$!turbineUtils.formatNumber($!region.getVolume(),0)</td>
	   <td>$!turbineUtils.formatNumber($!region.Normmean,4) +-$!turbineUtils.formatNumber($!region.Normstddev,4)</td>
	   <td>$!turbineUtils.formatNumber($!region.Normrange,0)&nbsp;($!turbineUtils.formatNumber($!region.Normmin,0)-$!turbineUtils.formatNumber($!region.Normmax,0))</td>
	  </tr>
	 #end
	</table>
	 </td></tr></table>
	</span>
		</td>
</tr>

<tr>
	<td align=left colspan=2 valign=top><BR/><BR/></td>
</tr>
  #end
	
#end