##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("Permission Denied")

$page.setBgColor("#ffffff")
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="verdana,geneva,helvetica">

<h2>Permission Denied.</h2><BR>
<h3>The current user does not have access to this feature.</h3>
<hr>

</font>

<br>