##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">				

#set ($sessionId = $om.getLabel())
<form name="DtiQcBuildOptions" method="post" action='$link.setAction("BuildAction")'  onsubmit="return validate();">
	Please set the parameters required for the processing of DTI scans of your study.
	
	<br/>
	<br/>
	
	<table>
		<tr>
			<td><b><font face="$ui.sansSerifFonts">Session: $sessionId </font></b></td>
			<td><b><font face="$ui.sansSerifFonts">Project: $om.getProject()</font></b></td>
		</tr>
	</table>
	
	<br/>
	<br/>

	<table border="0"  bordercolor="#CC3333">
		#set ($scans = $mr.getUnionOfScansByType($dtiScanLabels))
		#if ($scans.size() > 0)
			<script language="Javascript">	
				var aScanType = {};
				aScanType.key = 'dtis';
				aScanType.size = $scans.size();
				scansToBuild.push(aScanType);
			</script>
		   
			<tr style="border-style:none">
				<td style="border-style:none" colspan="3">
					<b>Available DTI Scans</b>
				</td>
			</tr>
			<tr style="border-style:none">
				<td width="300" style="border-style:none" colspan="3">
					<p>&nbsp;&nbsp;Check scans to include in processing:</p>
				</td>
			</tr>
			#set ($j = 0)
			#foreach ($scan in $scans)
				<tr style="border-style:none">
					<td>
					<p>&nbsp;</p>
					</td>
					<td>
						#if ($scan.getQuality().equalsIgnoreCase("usable"))
							#set ($checked="checked")
						#else
							#set ($checked="")
						#end
					   <input type="checkbox" name="DTI_$j" value="$scan.Id" $checked>$scan.Id (<b>$!scan.getType()</b> Quality: $scan.Quality)
					</td>
					<td>
						<p>&nbsp;</p>
					</td>
				</tr>
				#set ($j = $j + 1)
			#end
			<input type="hidden" name="DTI_rowcount" value="$j">
		#end
	</table>    
	
	<br/>
	<br/>
		
	#xdatPassItemFormFields($search_element $search_field $search_value $project)

	<input type="hidden" name="pipelinename" value="dtiQc/DtiQc.xml">
	<input type="hidden" name="cmdprefix" value="arc-grid-queue">

	#insertCustomPipelineNotification("process")

    <input type="submit" name="eventSubmit_doDtiqc" value="Run processing" />&nbsp;&nbsp;<input type="button" ONCLICK="javascript:self.close()" value="Close"/>    			
    <p>&nbsp;</p>
</form>
