
<script type="text/javascript">
function requestPlot()
{
  if(document.getElementById("column_x").selectedIndex==0)
  {
    alert("Please select an X column");
    return;
  }
  
  if(document.getElementById("column_y").selectedIndex==0)
  {
    alert("Please select an Y column");
    return;
  }
  
  var columnX = document.getElementById("column_x").options[document.getElementById("column_x").selectedIndex].value;
  var columnY = document.getElementById("column_y").options[document.getElementById("column_y").selectedIndex].value;
  
  document.getElementById("PLOT_SPAN").style.display = 'block';
  var url = "$link.setAction("PlotImageAction")";
  url = url +"/column_x/" + columnX;
  url = url +"/column_y/" + columnY;
  
  document.getElementById("PLOT_IMG").src = url;
  return false;
}
</script>

<form enctype="multipart/form-data" method="POST" action="$link.setAction("PlotImageAction")">
<table>
 <tr>
  <td>
   COLUMN X:
  </td>
  <td>
   <select id="column_x">
    <option value="">(SELECT)</option>
    #set($ColCount=0)
    #foreach($header in $table.getColumns())
    <option value="$!header">$!header ($table.getTypes().get($ColCount))</option>
    #set($ColCount=$ColCount + 1)
    #end
   </select>
  </td>
 </tr>
 <tr>
  <td>
   COLUMN Y:
  </td>
  <td>
   <select id="column_y">
    <option value="">(SELECT)</option>
    #set($ColCount=0)
    #foreach($header in $table.getColumns())
    <option value="$!header">$!header ($table.getTypes().get($ColCount))</option>
    #set($ColCount=$ColCount + 1)
    #end
   </select>
  </td>
 </tr>
 <tr>
  <td colspan="2" align="right">
   <input type="button" ONCLICK="requestPlot();" name="eventSubmit_doPlot" value="Plot"/>
  </td>
 </tr>
 </table>
</form>

<SPAN ID="PLOT_SPAN" style="position:relative; display:none;">PLOT IMAGE: <img ID="PLOT_IMG" src="$content.getURI("images/rc.gif")"/></SPAN>
