$page.setTitle("PREG")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	<tr>
		<th>Is participant of child bearing potential?</th>
		<th>Date pregnancy test performed</th>
		<th>Pregnancy test results</th>
	</tr>
	
	#set($preg_num = $item.getChildItems("clin:pregData/pregList/preg").size() - 1)
    #if($preg_num >= 0)
        #foreach($preg_counter in [0..$preg_num])
            <tr>
                <td>
                    $!item.getStringProperty("clin:pregData/pregList/preg[$preg_counter]/PREGPOSS")
                    #if ($!item.getStringProperty("clin:pregData/pregList/preg[$preg_counter]/PREGPOSS") == "0")
                        - No
                    #elseif ($!item.getStringProperty("clin:pregData/pregList/preg[$preg_counter]/PREGPOSS") == "1")
                        - Yes
                    #end
                </td>
                <td>$!item.getStringProperty("clin:pregData/pregList/preg[$preg_counter]/PREGTEST")</td>
                <td>
                    $!item.getStringProperty("clin:pregData/pregList/preg[$preg_counter]/PREGRES")
                    #if ($!item.getStringProperty("clin:pregData/pregList/preg[$preg_counter]/PREGRES") == "1")
                        - Positive-visit should be rescheduled to occur after pregnancy is resolved.  Please enter a record in Missed Visit/Missed Assessments Form.
                    #elseif ($!item.getStringProperty("clin:pregData/pregList/preg[$preg_counter]/PREGRES") == "2")
                        - Negative-participant may proceed with visit measures.
                    #end
                </td>
            </tr>
        #end
    #end
</table>
		</td>
	</tr>
</table>
