## XDATScreen_dian_feedbackData.vm
## Modified: 1/17/2013

$page.setTitle("FEEDBACK")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($data.getParameters().getString("popup"))
   #set ($popup = $data.getParameters().getString("popup") )
   #set ($popup = "false")
#end

#if(!$project)
   #set($project=$om.getProject())
#end

#macro (createTableRow $e $header $options $keys)
   #set($elm = "")  ## Clear out variable
   #set($elm = $item.getStringProperty($e))
   #dian_createTableRow($elm $header $options $keys)
#end

#macro (createSimpleTableRow $e $header)
   #createTableRow($elm $header "" "")
#end

<style>
#uds_form {
   border-collapse: collapse;
   border-spacing:0px;
   border: 1px solid #000;
}
#uds_form td, #uds_form th {
   vertical-align:top;
   text-align:left;
   border-top:1px solid #000;
   border-bottom:1px solid #000;
}
</style>

<table width="100%">
   <tr>
      <td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))</td>
      <td valign="top" align="right">#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)</td>
   </tr>
   <tr>
      <td colspan="2">
      <table id="uds_form"  width="750px">
         ## Create the Autopsy consent table row
         #set ( $KEYS = ["0","1"] )
         #set ( $OPTIONS = ["No","Yes"] )
         #createTableRow("AUTOPSY" "Was autopsy consent discussed?" $OPTIONS $KEYS )
         
         ## Create the discussion results table row
         #set ( $KEYS = ["1","2","3"] )
         #set ( $OPTIONS = ["Participant gave consent at discussion","Participant deferred decision","Participant refused autopsy"] )
         #createTableRow("DECISION" "If yes, complete discussion results below:" $OPTIONS $KEYS )
         
         ## Create the refused reason table row
         #set ( $KEYS = ["1","2","3","4","5","6"] )
         #set ( $OPTIONS = ["too stressful for family","concerns over burial/funeral arrangements","religious concerns","costs to estate/family","implications of results","other"])
         #createTableRow("REFUSE" "If refused, check reason(s):" $OPTIONS $KEYS )
         #createSimpleTableRow("REFUSEOTH" "Other, specify:" "" )
         
         ## Create the clinical assessment feedback table row
         #set ( $KEYS = ["0","1"] )
         #set ( $OPTIONS = ["No (stop here)","Yes (complete remainder of form)"])
         #createTableRow("CLINFEED" "Was clinical assessment feedback provided?" $OPTIONS $KEYS )
         
         ## Create the feedback provider table row
         #set ( $KEYS = ["1","2","3","4"] )
         #set ( $OPTIONS = ["Physician Clinician","Nurse Clinician","Psychometrist","Other"])
         #createTableRow("PROVIDER" "Check who provided participant feedback" $OPTIONS $KEYS )
         #createSimpleTableRow("PROVOTH" "Other, specify:")
         
         ## Create the research staff feedback session table row
         #createTableRow("PRESENT" "Which research staff were present at the feedback session?" $OPTIONS $KEYS )
         #createSimpleTableRow("PRESOTH" "Other, specify:")
         
         ## Create the feedback was given to table row
         #set ( $OPTIONS = ["Participant","Collateral Source #1","Collateral Source #2","Other"])
         #createTableRow("FEEDTO" "Feedback was given to (check all that apply):" $OPTIONS $KEYS )
         #createSimpleTableRow("TOOTHER" "Other, specify relationship:")
         
         ## Create the Topics discussed table row
         #set ( $KEYS = ["1","2","3","4","5"] )
         #set ( $OPTIONS = ["Diagnostic Impression (cognitively normal vs. demented [suspected cause given])","Prognosis","Medical care","Clinical genetic counseling and testing","Reminder of timing of next in-person visit"])
         #createTableRow("TOPICS" "Check the items that were discussed:" $OPTIONS $KEYS )
         #createSimpleTableRow("MEDSPEC" "If Medical care, specify:")
      </table>
      </td>
   </tr>
</table>