$page.setTitle("MISSVISIT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border:1px solid #000;
	min-width: 70px;
}
</style>

#set($miss_num = $item.getChildItems("dian:missvisitData/missvisitList/missvisit").size() - 1)

<table id="uds_form">
	<tr>
		<th>Date of Missed Visit/Missed Assessment(s)</th>
		#foreach($column_counter in [0..$miss_num])
            <td>$!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/EXAMDATE")</td>
        #end
	</tr>
	<tr>
		<th>Which assessments were missed?</th>
		#foreach($column_counter in [0..$miss_num])
            <td>
                $!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL")
				#if ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "1")
					- All assessments missed
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "2")
					- Clinical assessment
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "3")
					- Psychometric assessment
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "4")
					- MRI
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "5")
					- PET PIB
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "6")
					- FDG PET
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "7")
					- Lumbar puncture
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "8")
					- Blood biomarkers
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "9")
					- Blood genetics
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "10")
					- Autopsy (check if participant died, but brain autopsy not performed)
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTIAL") == "11")
					- Other: $!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/MISSOTHER")
    			#end
            </td>
        #end
	</tr>
	<tr>
		<th>Reason for missed assessment(s):</th>
		#foreach($column_counter in [0..$miss_num])
            <td>
                $!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON")
				#if ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "1")
					- Pregnancy
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "2")
					- Adverse Event
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "3")
					- Death
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "4")
					- Safety Risk
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "5")
					- Protocol Violation
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "6")
					- Non-Compliance
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "7")
					- Investigator Judgment
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "8")
					- Consent Withdrawn
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "9")
					- Study Terminated
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "10")
					- Loss of Collateral Source
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "11")
					- Lost to Follow-Up
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "12")
					- Coordinating Center Request
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/REASON") == "13")
					- Other.  Specify below.
    			#end
            </td>
        #end
	</tr>
	#if ( "-4" != $!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTCOM") )
	    <tr>
		    <th>Provide any additional information. If individual procedures are missing for different reasons, provide an explanation.</th>
		    #foreach($column_counter in [0..$miss_num])
                <td>$!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/PARTCOM")</td>
            #end
	    </tr>
    #end
    <tr>
		<th>Future Participation:</th>
		#foreach($column_counter in [0..$miss_num])
            <td>
                $!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/FOLLOWUP")
				#if ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/FOLLOWUP") == "1")
					- Refuses/unable to return for any future visits.  The participant is withdrawn from the study
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/FOLLOWUP") == "2")
					- Will return for future visits, but will no longer complete the missed assessment(s).
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/FOLLOWUP") == "3")
					- Will reschedule to complete missed assessment(s) at another time.
    			#end
            </td>
        #end
	</tr>	
    <tr>
		<th>Participant will reschedule to complete the following missed assessment(s) at another time:</th>
		#foreach($column_counter in [0..$miss_num])
            <td>
                $!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED")
				#if ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "1")
					- Clinical assessment
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "2")
					- Psychometric assessment
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "3")
					- MRI
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "4")
					- PET PIB
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "5")
					- FDG PET
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "6")
					- Lumbar Puncture
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "7")
					- Blood biomarkers
				#elseif ($!item.getStringProperty("dian:missvisitData/missvisitList/missvisit[$column_counter]/RESCHED") == "8")
					- Blood genetics
    			#end
            </td>
        #end
	</tr>	
</table>
		</td>
	</tr>
</table>
